[submodule "libs/linux-syscall-support"]
	path = libs/linux-syscall-support
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "TMessagesProj/jni/ffmpeg"]
	path = TMessagesProj/jni/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	ignore = all
[submodule "TMessagesProj/jni/libvpx"]
	path = TMessagesProj/jni/libvpx
	url = https://github.com/webmproject/libvpx.git
